<FilesMatch "\.(php|php5|phtml)$">
    Order deny,allow
    Deny from all
</FilesMatch>

Options -Indexes

<FilesMatch "^config\.(php|inc)$">
    Order deny,allow
    Deny from all
</FilesMatch>

<Files *.php>
    Order deny,allow
    Deny from all
</Files>